<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>
    <link rel="stylesheet" href="../Static/Css/Style.css" />
  </head>
  <body>
    <img
      src="../Static/Img/eoceanLogos.png"
      alt=""
      style="max-width: 420px; width: 100%"
    />
    <div class="container">
      <div class="login form">
        <header>Login</header>
        <form action="POST">
          <div class="msg">{{msg}}</div>
          <input type="text" placeholder="Enter your email" />
          <input type="password" placeholder="Enter your password" />
          <button type="submit" class="btn" value="Login">Login</button>
        </form>
      </div>
    </div>
  </body>
</html>
