<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>upload</title>
    <link rel="stylesheet" href="../Static/Css/Upload.css" />
  </head>
  <body>
    <div class="container">
      <header>Upload Invoice</header>
      <div class="login form">
        <form id="login-form" action="/api" method="post" enctype="multipart/form-data" >
          <label for="input-file" id="drop-area">
          <input
            type="file"
            accept="file/pdf"
            id="input-file"
            onchange="loadFile(event)"
            name="file"
            hidden
          />
          <div id="img-view">
            <img
              id="show-uploaded-image"
              src="../Static/Img/508-icon.png"
              accept="application/pdf"
            />
            <p class="para-text">
              Drag and Drop or click here <br />to upload image
            </p>
            <span class="span-text">Upload any Invoice from Desktop</span>
          </div>
          <div class="row">
            <button id ="oldParser" type ="submit" class="btn column" value="0">
              Old Parser
            </button>
            <button id ="newParser" type="submit" class="btn column" value="1">
              New Parser
            </button>
          </div>
        </form>
      </div>
    </div>
    <script src="../Static/Js/Upload.js"></script>
  </body>
</html>
