<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>upload</title>
    <link rel="stylesheet" href="../Static/Css/Upload.css" />
  </head>
  <body>
    <div class="hero">
      <label for="input-file" id="drop-area">
        <input type="file" accept="file/pdf" id="input-file" />
        <div id="img-view">
          <img src="../Static/Img/508-icon.png" />
          <p>Drag & Drop Images</p>
        </div>
      </label>
    </div>
  </body>
</html>
